<!doctype html>
<html lang="ko-kr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <style>
      * {}

      .wrap {
            width: auto;
            margin: 2% 10%;
        }
      .jumbotron {
            font-family: 'Song Myung', serif;

            margin: 10px auto 30px auto;
            width: 100%;

            border: 1px solid black;
            border-radius: 5px;

            padding: 25px;
        }

      .form-control {
        width : 100%;
        }

      .card {
            font-family: 'Nanum Gothic', sans-serif;
            margin-bottom: 30px;
        }

    </style>

    <!-- Optional JavaScript; choose one of the two! -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- My Script -->

    <script>
      // 읽기 3총사 첫째 - 시작하자마자 실행
      $(document).ready(function () {
        $("#cards-box").html("");
        showCards();
      });

      // 읽기 3총사 둘째 - 보여주기
      function showCards() {
        $.ajax({
          type: "GET",
          url: "/api/memo",
          data: {},
          success: function (response) {
            let posts = response["posts"];
            // console.log(posts);
            for (let i = 0; i < posts.length; i++) {
              // idx = posts[i]['_id'].toString()
              showCard(posts[i]["title"], posts[i]["description"]);
            }
          }
        })
      }

      // 읽기 3총사 셋째 - 카드폼 만들기
      function showCard(title, description) {
        let tempHtml =
            `<div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title" id="${title}">${title}</h5>
                  <p class="card-text" id="${description}">${description}</p>
                  <a class="btn btn-primary" id="${title}" onclick="editCard('${title}','${description}')">수정</a>
                  <a class="btn btn-primary" onclick="deleteCard('${title}')">삭제</a>
                </div>
              </div>
            </div>`;
        $("#cards-box").append(tempHtml);
      }

      // 글 작성
      function createCard() {
           let formTitle = $("#form-title").val();
           let formDescription = $("#form-description").val();

           $.ajax({
               type: "POST",
               url: "/create",
               data: {title_give: formTitle,
                 description_give: formDescription},
               success: function (response) {
                   if (response["result"] == "success") {
                       alert("저장 완료!");
                       window.location.reload();
                   } else {
                       alert("오류 입니다!")
                   }
               }
           })
       }

       // 글 수정
       function editCard(title, description) {

            // 카드 타이틀 -> 카드 폼
           let editTitle = `<input name="form-title" type="text" class="form-control" id="edit-form-title" value="${title}">`;

           let replaceTitle = `h5#${title}`


           // 카드 내용 -> 내용 폼
           let editDescription = `<textarea name="form-description" class="form-control" id="edit-form-description" rows="1">${description}</textarea>`;

           let replaceDescription = `p#${description}`

           // 카드 수정 버튼 -> 완료 버튼
           let editButton = `<a class="btn btn-primary" role="button" onclick="updateCard('${title}')">완료</a>`;

           let replaceButton = `a#${title}`

           $(replaceTitle).replaceWith(editTitle);
           $(replaceDescription).replaceWith(editDescription)
           $(replaceButton).replaceWith(editButton)
        }

        // 글 수정된거 업데이트
        function updateCard(title) {
            let beforeTitle = title
             let formTitle = $("#edit-form-title").val();
             let formDescription = $("#edit-form-description").val();

             $.ajax({
                 type: "POST",
                 url: "/update",
                 data: {beforeTitle_give : beforeTitle,
                   title_give: formTitle,
                   description_give: formDescription},
                 success: function (response) {
                     if (response["result"] == "success") {
                         alert("수정 완료!");
                         window.location.reload();
                     } else {
                         alert("오류 입니다!")
                     }
                 }
             })
         }


        // 글 삭제
        function deleteCard(title) {
             $.ajax({
                 type: "POST",
                 url: "/delete",
                 data: {title_give: title},
                 success: function (response) {
                     if (response["result"] == "success") {
                         alert("삭제 완료!");
                         window.location.reload();
                     } else {
                         alert("오류 입니다!")
                     }
                 }
             })
         }

    </script>

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="wrap">

      <!-- Header -->
      <div class="jumbotron">
        <h1 class="display-4">나홀로 메모장</h1>
        <p class="lead">맘껏 쓰세요!</p>
        <div class="form-group">
          <input name="form-title" type="text" class="form-control" id="form-title" placeholder="제목">
        </div>
        <div class="form-group">
          <textarea name="form-description" class="form-control" id="form-description" rows="3" placeholder="내용"></textarea>
        </div>
        <a class="btn btn-primary btn-lg" role="button" onclick="createCard()">저장하기</a>
      </div>

      <!-- Card -->
      <div id="cards-box" class="row">

        <!-- 1card -->
        <!-- <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">이글의 제목입니다.</h5>
              <p class="card-text">이 글의 내용이구요.</p>
              <a class="btn btn-primary" onclick="update()">수정</a>
              <a class="btn btn-primary" onclick="delete()">삭제</a>
            </div>
          </div>
        </div> -->

        <!-- 2card -->
        <!-- <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">이글의 제목입니다.</h5>
              <p class="card-text">이 글의 내용이구요.</p>
              <a href="/update" class="btn btn-primary">수정</a>
              <a href="/delete" class="btn btn-primary">삭제</a>
            </div>
          </div>
        </div> -->

        <!-- 3card -->
        <!-- <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">이글의 제목입니다.</h5>
              <p class="card-text">이 글의 내용이구요.</p>
              <a href="/update" class="btn btn-primary">수정</a>
              <a href="/delete" class="btn btn-primary">삭제</a>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </body>
</html>
